* {
	font-family: 'Outfit', sans-serif;
}

html {
	height: 100%;
}

body {
	/* background-color: hsl(217, 54%, 11%); */
	height: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.image-equilibrium {
	width: 250px ;
	border-radius: 5px;
	padding: 25px;
}

.container {
	display: flex;
	width: 300px ;
	color: white;
	
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	background-color: hsl(216, 50%, 16%);
	border-radius: 5px;
}

h3 {
	text-align: left;
}





.image-avatar {
	width: 50px ;
	height: 50px ;
	